absl-py==1.4.0
aioice==0.9.0
aiortc==1.5.0
albumentations==1.3.1
altair==5.1.1
attrs==23.1.0
av==10.0.0
blinker==1.6.2
cachetools==5.3.1
certifi
cffi
click==8.1.7
contourpy==1.1.0
cryptography
cycler==0.11.0
dnspython==2.4.2
filelock
fonttools==4.42.1
gitdb==4.0.10
GitPython==3.1.35
google-crc32c==1.5.0
gTTS==2.3.2
idna
ifaddr==0.2.0
imageio==2.31.3
importlib-metadata==6.8.0
Jinja2
joblib==1.3.2
jsonschema==4.19.0
kiwisolver==1.4.4
lazy_loader==0.3
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.7.2
mdurl==0.1.2
mediapipe==0.10.8
mpmath
networkx
numpy
opencv-python==4.8.0.76
packaging==23.1
pandas==2.0.3
Pillow==9.4.0
protobuf==3.20.3
pycparser
pydeck==0.8.0
pydub==0.25.1
pyee==11.0.0
pygame==2.5.1
Pygments==2.16.1
pylibsrtp==0.8.0
Pympler==1.0.1
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
qudida==0.0.4
requests
rich==13.5.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
six==1.16.0
smmap==5.0.0
streamlit==1.26.0
streamlit-webrtc==0.47.0
sympy
tenacity==8.2.3
threadpoolctl==3.2.0
tifffile==2023.8.30
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
typing_extensions
tzdata==2023.3
tzlocal==4.3.1
ultralytics==8.0.173
urllib3
validators==0.22.0
xgboost==1.7.6